#Visual Studio files
.vs
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug/
[Rr]elease*/

#Project files
[Bb]uild/
!/build

#NuGet
packages/
*.nupkg

#Installer
SyncTrayzorSetup*.exe
SyncTrayzorPortable*
syncthing-*.exe
syncthing.exe

*.gjq
*.tmp
Coverage
SyncTrayzorPortable
deploy
*.pfx
*.pvk
/src/SyncTrayzor/Icons/*.png
security/private_key.asc
