<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SyncTrayzor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <SyncTrayzor.Properties.Settings>
            <setting name="GithubApiUrl" serializeAs="String">
                <value>https://api.github.com/repos/canton7/SyncTrayzor</value>
            </setting>
            <setting name="HomepageUrl" serializeAs="String">
                <value>http://github.com/canton7/SyncTrayzor</value>
            </setting>
            <setting name="DirectoryWatcherBackoffSec" serializeAs="String">
                <value>2</value>
            </setting>
        </SyncTrayzor.Properties.Settings>
    </applicationSettings>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target name="logfile" type="File"
                fileName="${gdc:item=LogFilePath}\SyncTrayzor.log"
                createDirs="True"
                archiveFileName="${gdc:item=LogFilePath}\logs archive\SyncTrayzor.{#}.log"
                archiveEvery="Day"
                archiveNumbering="Date"
                maxArchiveFiles="7"
                layout="${longdate} [${level}] ${logger}: ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace,tostring:maxInnerExceptionLevel=10:innerFormat=shortType,message,method}}"/>
        <target name="debugger" type="Debugger"
                layout="${time} [${level}] ${logger:shortName=true} ${message}"/>
      </targets>
      <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile"/>
        <logger name="*" minlevel="Debug" writeTo="debugger"/>
      </rules>
  </nlog>
</configuration>