<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SyncTrayzor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <SyncTrayzor.Properties.Settings>
            <setting name="GithubApiUrl" serializeAs="String">
                <value>https://api.github.com/repos/canton7/SyncTrayzor</value>
            </setting>
            <setting name="HomepageUrl" serializeAs="String">
                <value>http://github.com/canton7/SyncTrayzor</value>
            </setting>
            <setting name="DirectoryWatcherBackoffMilliseconds" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="DirectoryWatcherFolderExistenceCheckMilliseconds"
                serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="IssuesUrl" serializeAs="String">
                <value>http://github.com/canton7/SyncTrayzor/issues</value>
            </setting>
            <setting name="EnableAutostartOnFirstStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathConfiguration" serializeAs="Xml">
                <value>
                    <PathConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <LogFilePath>%EXEPATH%\logs</LogFilePath>
                        <SyncthingCustomHomePath>%EXEPATH%\data\syncthing</SyncthingCustomHomePath>
                        <SyncthingPath>%EXEPATH%\syncthing.exe</SyncthingPath>
                        <ConfigurationFilePath>%EXEPATH%\data\config.xml</ConfigurationFilePath>
                    </PathConfiguration>
                </value>
            </setting>
            <setting name="DefaultUserConfiguration" serializeAs="Xml">
                <value>
                    <Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <ShowTrayIconOnlyOnClose>false</ShowTrayIconOnlyOnClose>
                        <MinimizeToTray>false</MinimizeToTray>
                        <CloseToTray>true</CloseToTray>
                        <ShowSynchronizedBalloon>true</ShowSynchronizedBalloon>
                        <ShowDeviceConnectivityBalloons>true</ShowDeviceConnectivityBalloons>
                        <SyncthingAddress>localhost:8384</SyncthingAddress>
                        <StartSyncthingAutomatically>true</StartSyncthingAutomatically>
                        <SyncthingUseCustomHome>true</SyncthingUseCustomHome>
                        <SyncthingDenyUpgrade>false</SyncthingDenyUpgrade>
                        <SyncthingRunLowPriority>false</SyncthingRunLowPriority>
                        <Folders />
                        <NotifyOfNewVersions>true</NotifyOfNewVersions>
                        <ObfuscateDeviceIDs>true</ObfuscateDeviceIDs>
                        <UseComputerCulture>true</UseComputerCulture>
                    </Configuration>
                </value>
            </setting>
        </SyncTrayzor.Properties.Settings>
    </applicationSettings>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target name="logfile" type="File"
                fileName="${gdc:item=LogFilePath}\SyncTrayzor.log"
                createDirs="True"
                archiveFileName="${gdc:item=LogFilePath}\logs archive\SyncTrayzor.{#}.log"
                archiveEvery="Day"
                archiveNumbering="Date"
                maxArchiveFiles="7"
                AutoFlush="True"
                layout="${longdate} [${level}] ${logger}: ${message} ${exception:format=type,message,method,stacktrace,tostring:maxInnerExceptionLevel=10:innerFormat=shortType,message,method}"/>
        <target name="debugger" type="Debugger"
                layout="${time} [${level}] ${logger:shortName=true} ${message}"/>
        <target name="syncthinglogfile" type="file"
                fileName="${gdc:item=LogFilePath}\syncthing.log"
                createDirs="True"
                archiveFileName="${gdc:item=LogFilePath}\logs archive\syncthing.{#}.log"
                archiveEvery="Day"
                archiveNumbering="Date"
                maxArchiveFiles="7"
                layout="${message}"/>
      </targets>
      <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile"/>
        <logger name="*" minlevel="Debug" writeTo="debugger"/>
        <logger name="SyncTrayzor.SyncThing.SyncThingProcessRunner" min="Debug" writeTo="syncthinglogfile"/>
      </rules>
  </nlog>

</configuration>