<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net472" />
  <package id="cef.redist.x64" version="86.0.24" targetFramework="net472" />
  <package id="cef.redist.x86" version="86.0.24" targetFramework="net472" />
  <package id="CefSharp.Common" version="86.0.241" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="86.0.241" targetFramework="net472" />
  <package id="FluentValidation" version="9.3.0" targetFramework="net472" />
  <package id="Fody" version="1.29.4" targetFramework="net472" developmentDependency="true" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NLog" version="4.7.6" targetFramework="net472" />
  <package id="OxyPlot.Core" version="2.0.0" targetFramework="net472" />
  <package id="OxyPlot.Wpf" version="2.0.0" targetFramework="net472" />
  <package id="Pri.LongPath" version="2.0.53" targetFramework="net472" />
  <package id="PropertyChanged.Fody" version="1.52.1" targetFramework="net472" developmentDependency="true" />
  <package id="RestEase" version="1.5.2" targetFramework="net472" />
  <package id="SmartFormat.NET" version="2.5.3" targetFramework="net472" />
  <package id="Stylet" version="1.3.5" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net472" />
  <package id="System.Reactive.Core" version="5.0.0" targetFramework="net472" />
  <package id="System.Reactive.Interfaces" version="5.0.0" targetFramework="net472" />
  <package id="System.Reactive.Linq" version="5.0.0" targetFramework="net472" />
  <package id="System.Reactive.PlatformServices" version="5.0.0" targetFramework="net472" />
  <package id="System.Reactive.Windows.Threading" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>