<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net451" />
  <package id="cef.redist.x64" version="3.2623.1396" targetFramework="net451" />
  <package id="cef.redist.x86" version="3.2623.1396" targetFramework="net451" />
  <package id="CefSharp.Common" version="49.0.0" targetFramework="net451" />
  <package id="CefSharp.Wpf" version="49.0.0" targetFramework="net451" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net451" />
  <package id="Fody" version="1.29.4" targetFramework="net451" developmentDependency="true" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="NLog" version="4.3.4" targetFramework="net451" />
  <package id="Pri.LongPath" version="2.0.30" targetFramework="net451" />
  <package id="PropertyChanged.Fody" version="1.51.0" targetFramework="net451" developmentDependency="true" />
  <package id="RestEase" version="1.0.8" targetFramework="net451" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net451" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net451" />
  <package id="Rx-WPF" version="2.2.5" targetFramework="net451" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net451" />
  <package id="SmartFormat.NET" version="1.6.1.0" targetFramework="net46" />
  <package id="Stylet" version="1.1.17" targetFramework="net451" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net451" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net451" />
</packages>